.navbar {
  padding: 20px 0;
  // background-color: getColor("white.base");
  color: getColor("primary.base");
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 1;
  // border: 1px solid getColor("grey.7");

  @include e(header) {
    h1 {
      font-size: 16px;
      color: getColor("primary.base");
    }
  }

  @include e(item) {
    color: black;
    font-weight: 600;
  }

  @include e(flex) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include m(sticky) {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  @include e(left) {
    display: flex;
    align-items: center;
  }
}
